@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Salsa", system-ui;
  font-size: 14px;
}

.bg-image {
  background-image: linear-gradient(
      to bottom,
      rgba(76, 0, 130, 0.541),
      rgba(0, 0, 0, 0.795)
    ),
    url("../../public/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
